@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Saira+Stencil+One&family=Ultra&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: anzo;
  src: url("/assets/file.woff2");
}

@font-face {
  font-family: heavitas;
  src: url("/assets/Heavitas.ttf");
}

@font-face {
  font-family: anzo1;
  src: url("/assets/file1.woff2");
}

@font-face {
  font-family: anzo2;
  src: url("/assets/file2.woff2");
}

@font-face {
  font-family: anzo3;
  src: url("/assets/file3.woff2");
}

@font-face {
  font-family: flo;
  src: url("/assets/floriena.ttf");
}

@font-face {
  font-family: anzo4;
  src: url("/assets/file4.woff2");
}

@font-face {
  font-family: samakaran;
  src: url("/assets/samakaran.ttf");
}

.name {
  transition: "transform 1s ease";
}

.projectDiv {
  width: 100vw;
  height: 90vh;
  padding-right: 10vw;
  padding-left: 10vw;
}

.projContainer {
  display: flex;
  /* width: fit-content; */
  height: 100vh;
}

.swiper {
  /* overflow: auto; */
  width: 50vw;
  height: 50vh;
}

* {
  /* overflow: hidden; */
  ::-webkit-scrollbar {
    display: none;
  }
}

/* body{
  overflow-x: hidden;
} */

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  background: #ffffff;
}

/* .swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
} */
